<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MY BLOGS</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/../images/brandImage.ico">
  <!-- Font Awesome -->
     <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Sacramento&family=Ubuntu:wght@300&display=swap" rel="stylesheet">


<section id="headerSection">


  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">MY BLOGS</p>
        <img class="brandpic"src="/../images/brandpic.jpg" alt="brandpic" >

      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="compose"><a href="/compose">COMPOSE</a></li>
<!-- <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "/" ? "active" : "")">@Html.ActionLink("Home", "/", "Home")</li> -->
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>
 <img class="headerImage" src="/../images/blogimage.jpg"  alt="blogimage">
 </section>
  <body>
    <div class="internal">
