<%- include("partials/header"); -%>
<div class="body">
  <div class="startingContent">


    <h1>About the Author</h1>
    <img class="aboutImage" src="/../images/woman.jpg" alt="Aboutimage">

  </div>
</div>
<div class="intro">


<p class=""> <%= aboutContent %> </p>
</div>
<%- include("partials/footer"); -%>
